# Ignore virtual environments

venv/

# Ignore Python bytecode

*.pyc
__pycache__/

# Ignore IDE files (We used VS Code)

.vscode/

# Ignore tempCodeRunnerFile.py in all directories

**/tempCodeRunnerFile.py

# Ignore everything inside the data directory

data/